@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
    input[type="number"].appearance-none::-webkit-inner-spin-button,
    input[type="number"].appearance-none::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
    }

    input[type="number"].appearance-none {
        -moz-appearance: textfield !important;
    }
}


@import "tailwindcss"